/* 練習問題③ */
/* クラス名 buttonにcssを書く準備をしましょう */

/* 以下divタグに記載するcssです */

/* 練習問題④ */
/* 文字の色を白くしてみましょう */

/* 練習問題⑤ */
/* 文字の大きさを20pxにしてみましょう */

/* 練習問題⑥ */
/* 背景色を rgbで指定し、赤色233,緑53,青45の配合割合で色を付与しましょう */

/* 練習問題⑦ */
/* 幅を120pxで指定してみましょう */

/* 練習問題⑧ */
/* コンテンツを背景赤色に対して中央に寄せましょう */

/* 練習問題⑨ */
/* ボタンの角を丸くしましょう。四つ角を5pxずつ */

/* 発展問題⑩ */
/* ログインという文字と赤色との上側と下側の隙間を5pxずつあけましょう */
/* 来週の授業でやる内容です */


/* 解答例 */
/* .button{
  color: white;
  font-size: 20px;
  background-color: rgb(233,53,45);
  width: 120px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
} */